header{
    width: 100%;
    height: 70px;
    background-color: #101010;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 0 2%;
    box-shadow: 0 5px 20px green;
    font-family: 'Bruno Ace', cursive;
    margin-bottom: 80px;
    }
ul{
    display: flex;
    gap: 20px;
}
li{
 list-style: none;;
 }
a{
    text-decoration: none;
    text-transform: uppercase;
    color:#ffffff;
    font-size: 15px;
    
    }

span{
    color: green;
}
h1{
    text-align: center;
    font-family: 'Bruno Ace', cursive;
    font-size: 40px;
    margin-bottom: 50px;
}
.logo{
    width: 50px;
    height: 70px;
    filter: invert(1);
    }
.logo img{
    width: 100%;
    border-radius: 60px;
    margin-top: 10px;
}
.container{
    max-width: 1200px;
    margin:0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-areas: 
    "aside item  item"
    "aside item  item"
    "aside item  item"
    "aside item  item"
    "footer footer footer";
     grid-gap: 20px;
}
.container img{
    width: 100%;
    height: 200px;
    border-radius: 20px;
    }
.aside{
    width: 300px;
    height: 1100px;
    border-radius: 20px;
    background-color: #333;
    grid-area: "aside";
    grid-row: aside;
  }
  .aside img{
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
.item{
    width: 300px;
    height: 250px;
    border-radius: 20px;
    grid-area: "item";
    background-color: #ccc;
    }
.item h2{
  margin-left: 70px;
  font-family: 'Bruno Ace', cursive;
  color: green;
}
.item p{
    margin-left: 30px;
    font-family: 'Bruno Ace', cursive;
    font-size: 13px;
    font-weight: bold;
}

.footer{
    width: 100%;
    height: 150px;
    background-color: #333;
    border-radius: 20px;
    grid-area: "footer";
    grid-column: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: 'Bruno Ace', cursive;
    gap: 20px;
}
.icon-insta{
    filter: invert(1);
   
    }
.icon-insta img{
    width: 60px;
    height: 50px;
    animation: ease-in-out;
    transition: 0.3s;
}
.wpp-icon{
    filter: invert(1);
}
.wpp-icon img{
    width: 50px;
    height: 45px;
    animation: ease-in-out;
    transition: 0.3s;
}

.wpp-icon img:hover,
.icon-insta img:hover{
    transform: scale(1.2);
}
.series h2{
    margin-left:30px;
}